/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* .............Purpl..................... */
/* --- 👍 designed by https://github.com/Krautt  👍 --- */

* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;		
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 14px;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

@import "../waybar/style/catppuccin-themes/mocha.css";

window#waybar {
  background: transparent;
	color: #cba6f7;
}

window#waybar.hidden {
	opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
	padding: 0px;
	border: 0px;
	background-color: transparent;
}

tooltip {
/*	background: #1e1e2e; */
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
	color: #cba6f7;
}

.modules-left, .modules-center, .modules-right {
  background: #1a0027;
}

/*-----module groups----*/
.modules-right {
	border: 3px solid #20052a;
	border-radius: 100px;
	/*background-color: #3d174b;*/
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 8px;
	padding-left: 8px;
}

.modules-center {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 8px;
	padding-left: 8px;
  border-radius: 100px;
}

.modules-left {
	/*background-color: #1e1e2e;*/
	border: 3px solid #20052a;
	border-radius: 100px;
	/*background-color: #441a53;*/
	padding-top: 2px;
	padding-bottom: 2px;
  padding-right: 8px;
	padding-left: 12px;
}

#workspaces button {
   color: @rosewater;
	border-radius: 50%;
  background: transparent;	
  box-shadow: none;
	text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
  color: @green;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
	color: #d8dee9;
}

#workspaces button.urgent {
	color: #11111b;
	border-radius: 10px;
}

#workspaces button:hover {
	color: #9CCFD8;
    border-radius: 15px;
 	padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-cava_mviz,
#custom-user_host,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 8px;
	padding-left: 8px;
}

#temperature.critical {
	background-color: #ff0000;
}

@keyframes blink {
	to {
		color: #000000;
	}
}

/*-----Indicators----*/
#custom-cava_mviz {
  color: @mauve;
  margin-right: 24px;
}

#custom-user_host {
  color: @teal;
}

#custom-menu {
  color: @blue;
  font-size: 18px;
}

#clock {
  color: #ffd4ff;
}

#custom-spotify {
  color: @yellow;
  margin-right: 8px;
}

#cpu {
  color: @black;
  background: @flamingo;
  border-radius: 8px;
}

#disk {
  color: @black;
  background: @blue;
  border-radius: 8px;
}

#memory {
  color: @black;
  background: @red;
  border-radius: 8px;
  margin-right: 14px;
}

#custom-lock {
    color: @red;
}

#custom-swaync {
  color: #cfcfcf;
}

#tray {
  background: @surface0;
  border-radius: 8px;
}

#window {
    color: @yellow;
}

#bluetooth {
  color: @black;
  background: @sky;
  border-radius: 8px;
  padding-left: 12px;
}

#pulseaudio {
  color: @black;
  background: @peach;
  border-radius: 8px;
}

#custom-power {
  color: @black;
  background: @lavender;
  border-radius: 8px;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: #6E6A86;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: purple;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
	background-color: #6E6A86;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: purple;
}
